/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.container-login {
    @extnd .container-fluid;
    max-width: 576px;
    margin: 200px 600px ;
}

.card {
    @extnd .container-fluid;
    margin: 10px ;
    size: 200px 200px ;
}

.form-control{
    background-color: floralwhite ;
}

.card-body {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}
// .wrapper{
//     min-height: 100vh;
//     position: relative;/*相対位置*/
//     padding-bottom: 100px;/*footerの高さ*/
//     box-sizing: border-box;/*全て含めてmin-height:100vhに*/
// }

/*ハンバーガーアイコン*/
.btn-burger {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 10px;
}

/*ハンバーガーアイコンを作る三本線*/
.icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px; /*線の太さ*/
    width: 35px; /*線の長さ*/
    background-color: #444;
    border-radius: 2px;
    display: block;
  　content: '';
    cursor: pointer;
    margin: auto;
}

/*三本線の間隔*/
.icon:before {
  top: 20px;
}

.icon:after {
  top: -20px;
}

/*チェックボックス非表示*/
.nav-toggle {
    display: none;
}

/*アイコンをクリックしたら*/
.nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
}
.icon,
.icon:before,
.icon:after {
    transition: all .8s;
}

/*表示されるメニューの中身*/
.nav {
    // background-color: #5c55e7;
    
}
.nav-list a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.nav-list {
    list-style: none;
    display: none;
    margin: 0;
    padding-left: 20px;
}
.nav-list li {
    margin: 0;
    padding: 10px;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: block;
}

@media screen and (min-width: 768px) {
/* ハンバーガーボタン */
.btn-burger {
    display: none;  /*768px以上では使用しない */
}

header {
    padding: 30px 0 0;
}
// .logo {
//     width: auto;
//     margin: 0 0 20px;
//     padding: 0;
//     text-align: center;
// }
.nav-toggle:checked ~ .nav .nav-list {
    display: none;
}
.nav {
    height: 75px;
}
.nav-list {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}
.nav-list li:not(:last-child) {
    border-right: 1px solid #fff;
}
}

footer{
    width: 100%;
    background-color: #46B2BE;
    color: #fff;
    text-align: center;/*footerの位置を中央に*/
    padding: 25px 0;
    position: absolute;/*絶対位置*/
    bottom: 0; /*下に固定*/
    margin-top: 50px;
}

.inform-container{
    padding-top: 150px;
    width: 50%;
    margin: 0 auto;
}

.tag-box {
  font-weight: 500;
  display: flex;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  justify-content: flex-start;
  gap: 8px;

}

  .tag-box > div {
    max-width: 150px;
    background-color: #337ab7;
    padding: 4px 8px;
    border-radius: 2px;
  }
